:root {
  --bg-navy: #131820;
  --light-navy: #263040;
  --slate: #8892b0;
  --lightest-slate: #ccd6f6;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --font-sans: "Calibre", "Inter";
  --font-mono: "SF Mono", "Roboto Mono";
  --font-xxs: 14px;
  --font-xs: 16px;
  --font-s: 20px;
  --font-sm: 24px;
  --font-m: 32px;
  --font-ml: 48px;
  --font-l: 64px;
  --font-xl: 70px;
  --font-xxl: 80px;
  --border-radius: 5px;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.0355, 1);
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--bg-navy);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader-inner {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 2s cubic-bezier(0.645, 0.045, 0.0355, 1) forwards;
          animation: dash 2s cubic-bezier(0.645, 0.045, 0.0355, 1) forwards;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  font-size: var(--font-xs);
  font-family: var(--font-sans);
  line-height: 24px;
  letter-spacing: 1.25px;
  max-width: 540px;
}

a {
  text-decoration: none;
  color: var(--green);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.topic-heading {
  color: var(--lightest-slate);
  font-size: 28px;
  font-family: var(--font-sans);
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topic-heading::after {
  content: "";
  display: block;
  position: relative;
  top: 2px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--light-navy);
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: var(--bg-navy);
  color: var(--slate);
  font-family: var(--font-sans);
}

.preload {
  overflow: hidden;
}

header {
  padding: 0 50px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bg-navy);
}

header nav {
  height: 42px;
  min-height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-navy);
  font-family: var(--font-sans);
  color: var(--lightest-slate);
}

header .logo {
  color: var(--green);
  -webkit-transition: -webkit-animation .5s ease;
  transition: -webkit-animation .5s ease;
  transition: animation .5s ease;
  transition: animation .5s ease, -webkit-animation .5s ease;
}

header .logo:hover {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 2s cubic-bezier(0.645, 0.045, 0.0355, 1) forwards;
          animation: dash 2s cubic-bezier(0.645, 0.045, 0.0355, 1) forwards;
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  background-color: rgba(10, 25, 47, 0);
  opacity: 0.8;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .nav-links a {
  color: var(--lightest-slate);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  font-family: var(--font-mono);
}

header .nav-links a:hover {
  color: var(--green);
}

header .nav-links li {
  padding: 0 15px;
  list-style: none;
  font-family: var(--font-mono);
}

header .nav-links.nav-active {
  max-height: 500px;
}

header .burger {
  display: none;
}

header .burger div {
  width: 28px;
  height: 2px;
  border-radius: 9999px;
  background-color: var(--green);
  margin: 5px;
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header .burger > div:not(:last-child) {
  margin-bottom: 6px;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 768px) {
  header .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 8vh;
    background-color: var(--bg-navy);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    z-index: 5;
  }
  nav-links li {
    opacity: 0;
  }
  nav .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.nav-active > li {
  color: var(--lightest-slate);
}

.nav-active > li:nth-child(1) {
  z-index: 100;
  position: relative;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

main {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
}

main #home {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1000px;
}

main #home h1 {
  color: var(--green);
  font-family: var(--font-mono);
  font-weight: 300;
  font-size: var(--font-xs);
  margin: 0 0 18px 4px;
}

main #home h2 {
  color: var(--lightest-slate);
  font-size: var(--font-xl);
  font-family: var(--font-sans);
}

main #home h3 {
  font-size: var(--font-xl);
  font-family: var(--font-sans);
  margin-bottom: 20px;
}

main #home p {
  font-size: var(--font-xs);
  font-family: var(--font-sans);
  line-height: 24px;
  letter-spacing: 1.25px;
  max-width: 540px;
}

main #home a {
  font-size: var(--font-xs);
  font-weight: 300;
  font-family: var(--font-mono);
  border: 1px solid var(--green);
  padding: 18px 32px;
  border-radius: var(--border-radius);
  margin-top: 50px;
  text-decoration: none;
  color: var(--green);
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}

main #home a:hover {
  background-color: var(--green-tint);
}

main #about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 110px auto 0;
  padding-left: 50px;
  max-width: 1000px;
}

main #about h1 {
  color: var(--lightest-slate);
  font-size: 28px;
  font-family: var(--font-sans);
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #about h1::after {
  content: "";
  display: block;
  position: relative;
  top: 2px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--light-navy);
}

main #about .inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  gap: 50px;
}

main #about .inner p {
  font-size: var(--font-xs);
  font-family: var(--font-sans);
  line-height: 24px;
  letter-spacing: 1.25px;
  max-width: 540px;
}

main #about .inner img {
  width: 250px;
}

main #about .inner .wrapper {
  width: 250px;
  max-height: 250px;
  border: 2px solid var(--green);
  border-radius: 5px;
  background-color: var(--green-tint);
  margin-left: 100px;
}

main #about .inner a:hover {
  text-decoration: underline;
}

#projects {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 110px auto 0;
  padding-left: 50px;
  max-width: 1000px;
}

#projects .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
}

#projects .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -ms-grid-rows: 210px 210px 80px;
      grid-template-rows: 210px 210px 80px;
      grid-template-areas: "image" "text" "stats";
  font-family: var(--font-sans);
  border-radius: 18px;
  background: var(--light-navy);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

#projects .card:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

#projects .card-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  background-image: url("/img/pflanzen.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

#projects .card-image2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  background-image: url("/img/museum.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

#projects .card-image3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  background-image: url("/img/bmi.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

#projects .card-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  margin: 25px;
}

#projects .card-text p {
  color: var(--slate);
  font-size: 15px;
  font-weight: 300;
}

#projects .card-text h2 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 28px;
  color: var(--lightest-slate);
}

#projects .card-stats {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: stats;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: var(--light-navy);
}

#projects .card-stats .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  color: var(--lightest-slate);
}

#projects .card-stats .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

#projects .card-stats .value {
  font-size: 18px;
  font-weight: 500;
}

#projects .card-stats .value .sup {
  font-size: 12px;
}

#projects .card-stats .border {
  border-left: 1px solid var(--slate);
  border-right: 1px solid var(--slate);
  border-top: 1px solid var(--slate);
}

#projects .card-stats .borderTop {
  border-top: 1px solid var(--slate);
}

#contact {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 110px auto 0;
  padding-left: 50px;
  max-width: 1000px;
  text-align: center;
}

#contact h1 {
  color: var(--lightest-slate);
  font-size: var(--font-l);
  font-family: var(--font-sans);
  margin-bottom: 15px;
}

#contact a {
  font-size: var(--font-xs);
  font-weight: 300;
  font-family: var(--font-mono);
  border: 1px solid var(--green);
  padding: 18px 32px;
  border-radius: var(--border-radius);
  margin-top: 50px;
  text-decoration: none;
  color: var(--green);
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}

#contact a:hover {
  background-color: var(--green-tint);
}

footer {
  background-color: var(--light-navy);
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

footer a, footer span {
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */